# Telegram Torrent Bot configuration

TELEGRAM_TOKEN="{{ telegram_token }}"
RUTRACKER_USERNAME="{{ rutracker_username }}"
RUTRACKER_PASSWORD="{{ rutracker_password }}"
TORRENTS_DIR="{{ transmission_torrents_dir }}"
ALLOWED_USERS="{{ allowed_users }}"
RUTRACKER_HOST="{{ rutracker_host }}"

# Should the bot use proxy to access Telegram servers?
PROXY_TELEGRAM="{{ proxy_telegram }}"

# Should the bot use proxy to access rutracker.org?
PROXY_RUTRACKER="{{ proxy_rutracker }}"

# Proxy settings
PROXY_PROTOCOL="{{ proxy_protocol }}"
PROXY_HOST="{{ proxy_host }}"
PROXY_PORT="{{ proxy_port }}"
PROXY_USERNAME="{{ proxy_username }}"
PROXY_PASSWORD="{{ proxy_password }}"
