[Unit]
Description=Telegram Torrent Bot service
After=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/local/bin/tg-torrent-bot
User=tg-torrent-bot
Group=tg-torrent-bot
UMask=0002

[Install]
WantedBy=multi-user.target
